.App{

    height: 97vh;
    /* border : 2px solid black; */
    
}

.navbar{
    background-color:#ffffff;
    font-family: sans-serif ;

}

.logomatter{

    font-weight: bolder;
}

.loginDiv{

    border : 1px solid black;
    margin: 0;
    padding: 40px;
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    height:40%
}


.table th , tr td{
    border : 2px solid black;
    
}